body{
    background-image: url(../9.1\ background.jpg.jpg);
    height: 100%;
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.App{
    text-align: center;
    padding: 5%;
}

.right-button{
    cursor: pointer;
    float: right;
}

.list-item{
    display: inline-block;
}